@using Jaguar.Core.Services.AppState
@inject  AppStateService AppState
@rendermode InteractiveServer

@implements IDisposable

@if (AppState.isRightPanelOpen)
{
    <div class="h-[95%] center !justify-start flex-col gap-5 p-3 w-[300px] absolute z-10 left-[10px] top-0 hover:bg-purple-500/5 hover:border-purple-500 transition-300 rounded-lg border-2 border-neutral-700 bg-neutral-700/30 backdrop-blur-md">
        <div class="w-full !h-13 rounded-md bg-neutral-300">
            @AppState.isRightPanelOpen
        </div>
    </div>
}else 
{
    <div></div>
}

@code
{
    protected override void OnInitialized()
    {
        Console.WriteLine("Subscribing to AppState.");
        AppState.OnStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        Console.WriteLine("UnSubscribing to AppState.");
        AppState.OnStateChanged -= StateHasChanged;
    }
}
